attrs==24.2.0
cffi==1.17.1
cryptography==3.4.7
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.2
pdoc==15.0.0
pluggy==1.5.0
psutil==6.1.0
py==1.11.0
pycparser==2.22
Pygments==2.18.0
pytest==6.2.5
toml==0.10.2
WMI==1.4.9
